body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    border:1px solid red;
    min-width: fit-content;
}

header{
    position:relative;
    background-image: url("images/Recette05.webp");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    #Accroche{
        position:relative;
        display: flex;    
        color: gold;
        font-size:25px;
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        text-shadow: 2px 2px darkgoldenrod;        
        }
    .zone_de_recherche{
        position:relative;
        display: block;
        z-index: 30;
        text-align: center;
        #recherche{
            width:60%;
            height:50px;
            border:2px solid gray;
            border-radius: 4px;
            box-shadow: 4px lightgray;
            }
        }
    
    
    
}

main{
    position:relative;
    border:1px solid blue;
    min-width: 320px;
    .liste_container{
        display:flex;
        gap:15px;
        margin:5%;
    }
}
